@font-face {

  font-family: RockFont;

  src: url("Funkrocker.otf");

}



h4 {

  font-family: RockFont;

}


.masthead {

  background: rgb(230, 221, 221);

  height: 5em;

}

.centeredText {

  text-align: center;

}

.site-title {

  color:burlywood;

  font-family: RockFont;

  font-size: 80px;

  font-weight: bolder;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 20px;
}

.card {
  width: 100%;
  border: 5px solid burlywood;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  padding: 10px;
}

.img {
  border: 5px solid lightblue;
  border-radius: 10px;
  width: 50%;
  height: 50%;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}