@font-face {

  font-family: RockFont;

  src: url("Funkrocker.otf");

}



h4 {

  font-family: RockFont;

}


.masthead {

  background: rgb(230, 221, 221);

  height: 5em;

}

.centeredText {

  text-align: center;

}

.site-title {

  color:burlywood;

  font-family: RockFont;

  font-size: 80px;

  font-weight: bolder;

}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
  width: 250px;
  border: 5px solid burlywood;
  border-radius: 5px;
  background-color: white;
}